/*
    Hoja de Estilo
    Creador: Álvaro Morata
    Noviembre 2020
*/

h1{
    background-color: burlywood;
    color:crimson;
}


p{
    background-color:cornsilk;
    color:darkblue;
    margin: 10px;
    padding: 50px;
    border-radius: 75px; 
      
}